<h1>Registrar materia</h1>
<form action="/materias/new" method="POST">
    <label for="nombre">Nombre de la materia: </label>
    <input type="text" id="nombre" name="nombre">
    <br>
    <br>
    <label for="clave">Clave de la materia: </label>
    <input type="text" id="clave" name="clave">
    <br>
    <br>
    <label for="clave">Nombre del profesor: </label>
    <input type="text" id="clave" name="clave">
    <br>
    <br>
    <label for="clave">Unidades: </label>
    <input type="text" id="clave" name="clave">
    <br>
    <br>
    <input type="submit" id="enviar" name="enviar" value="Registrar">
</form>