<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BMDkzYmJjNTEtYTM4MS00MDA3LTgwMjgtYzM4NWRkZDdkMGNlXkEyXkFqcGdeQXVyMTQxMjk0Mg@@._V1_.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= m.nombre %></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>